<div class="banner-rulers">
    <div class="banner-rulers__container">
        <div class="banner-rulers__list">
            <div class="banner-rulers__item">
                <div class="banner-rulers__figure">
                    <img src="@img(truck)" alt="Frete Grátis" class="banner-rulers__img">
                </div>
                <div class="banner-rulers__text">
                    <div class="banner-rulers__title">Frete grátis</div>
                    <div class="banner-rulers__desc">Sul e Sudeste* Nas compras acima de R$240,90</div>
                </div>
            </div>
            <div class="banner-rulers__item">
                <div class="banner-rulers__figure">
                    <img src="@img(help)" alt="Atendimento" class="banner-rulers__img">
                </div>
                <div class="banner-rulers__text">
                    <div class="banner-rulers__title">Atendimento</div>
                    <div class="banner-rulers__desc">Respostas em até 48hrs Seg - Sexta 10h às 17h</div>
                </div>
            </div>
            <div class="banner-rulers__item">
                <div class="banner-rulers__figure">
                    <img src="@img(discount)" alt="Desconto" class="banner-rulers__img">
                </div>
                <div class="banner-rulers__text">
                    <div class="banner-rulers__title">Desconto</div>
                    <div class="banner-rulers__desc">5% para pagamento via boleto bancário</div>
                </div>
            </div>
            <div class="banner-rulers__item">
                <div class="banner-rulers__figure">
                    <img src="@img(card)" alt="Parcelamento" class="banner-rulers__img">
                </div>
                <div class="banner-rulers__text">
                    <div class="banner-rulers__title">Parcelamento</div>
                    <div class="banner-rulers__desc">em até 4x sem juros ou em até 12x com juros* via Pagseguro</div>
                </div>
            </div>
        </div>
    </div>
</div>