<div class="instagram">
    <div class="instagram__container">
        <div class="instagram__header">
            <h3 class="instagram__title">
                @planner_shop
                <span>instagram</span>
            </h3>
            <div class="instagram__description">
                Quer aparecer em nossos Stories?
                Mencione @PLANNER_SHOP
                e compartilhe o seu planejamento
                com a gente
            </div>
        </div>
        <div class="instagram__main">
            <a href="#"><img src="https://fakeimg.pl/280/" /></a>
            <a href="#"><img src="https://fakeimg.pl/280/" /></a>
            <a href="#"><img src="https://fakeimg.pl/280/" /></a>
            <a href="#"><img src="https://fakeimg.pl/280/" /></a>
        </div>
    </div>
</div>