<div class="products-block">
    <div class="products-block__container">
        <div class="products-block__figure">
            <img class="products-block__img" src="@img(products-block)" />
        </div>
        {{widget type="interface/widget_produtos" template="interface/widgets/produtos.phtml" title="Blocos de 
<strong>Planejamento</strong>" identificador="newblock" carrossel="1" limite="12" markup="<h2 class='products__header'>
    <a href='@url' itemprop='url' title='Mais detalhes' class='products__link'>
        <span class='products__image product-image'>@foto(240x315)</span>
    </a>
    @selos
</h2>
<div class='products__main'>
    <a href='@url' title='@nome(60)' class='products__name'>@nome</a>
    @variacoes

    @if(is_disponivel)
    @preco
    @preco(avista)
    @preco(parcelado)
    @else(is_disponivel)
    <div class='products__out'>Produto Esgotado</div>
    @endif(is_disponivel)


</div>"}}
    </div>
</div>