<div class="testimony">
    <div class="testimony__container">
        <div class="testimony__header">
            <h3 class="testimony__title">Depoimentos</h3>
            <img src="@img(testimony)" />
        </div>
        <div class="testimony__list">
            <div class="testimony__item">
                <div class="testimony__text">Oi, queria dizer que meu Planner chegou hoje e eu estou APAIXONADA. Sabia
                    que era lindo, mas nenhuma foto consegue descrever a beleza do Planner de verdade. Queria apenas
                    agradecer e dizer que amei, amei, amei. Muito obrigada! Ganharam uma cliente fiel.E muito obrigada
                    pelos mimos que mandaram, que coisa linda!</div>
                <div class="testimony__author">Flavia Cardoso • @flaviacardosob</div>
            </div>
            <div class="testimony__item">
                <div class="testimony__text">Oi, queria dizer que meu Planner chegou hoje e eu estou APAIXONADA. Sabia
                    que era lindo, mas nenhuma foto consegue descrever a beleza do Planner de verdade. Queria apenas
                    agradecer e dizer que amei, amei, amei. Muito obrigada! Ganharam uma cliente fiel.E muito obrigada
                    pelos mimos que mandaram, que coisa linda!</div>
                <div class="testimony__author">Flavia Cardoso • @flaviacardosob</div>
            </div>
            <div class="testimony__item">
                <div class="testimony__text">Oi, queria dizer que meu Planner chegou hoje e eu estou APAIXONADA. Sabia
                    que era lindo, mas nenhuma foto consegue descrever a beleza do Planner de verdade. Queria apenas
                    agradecer e dizer que amei, amei, amei. Muito obrigada! Ganharam uma cliente fiel.E muito obrigada
                    pelos mimos que mandaram, que coisa linda!</div>
                <div class="testimony__author">Flavia Cardoso • @flaviacardosob</div>
            </div>
            <div class="testimony__item">
                <div class="testimony__text">Oi, queria dizer que meu Planner chegou hoje e eu estou APAIXONADA. Sabia
                    que era lindo, mas nenhuma foto consegue descrever a beleza do Planner de verdade. Queria apenas
                    agradecer e dizer que amei, amei, amei. Muito obrigada! Ganharam uma cliente fiel.E muito obrigada
                    pelos mimos que mandaram, que coisa linda!</div>
                <div class="testimony__author">Flavia Cardoso • @flaviacardosob</div>
            </div>
            <div class="testimony__item">
                <div class="testimony__text">Oi, queria dizer que meu Planner chegou hoje e eu estou APAIXONADA. Sabia
                    que era lindo, mas nenhuma foto consegue descrever a beleza do Planner de verdade. Queria apenas
                    agradecer e dizer que amei, amei, amei. Muito obrigada! Ganharam uma cliente fiel.E muito obrigada
                    pelos mimos que mandaram, que coisa linda!</div>
                <div class="testimony__author">Flavia Cardoso • @flaviacardosob</div>
            </div>
        </div>
        <div class="testimony__footer">
            <button type="button">deixe um depoimento</button>
        </div>
    </div>
</div>