.instagram
    margin-top: 80px

    &__container
        display: flex
        justify-content: flex-end
        max-width: viewport
        margin: 0 auto

    &__main
        order: -1
        display: flex

    &__header
        flex: 0 0 280px
        width: 370px
        height: 280px
        background: #fae3dd
        font-size: 15px
        font-weight: light
        color: color_one
        padding: 50px 20px 0

    &__title
        font-size: 27px
        font-weight: light
        text-align: center
        text-transform: uppercase
        line-height: 1.2

        span
            display: block
            font-size: 41px
            font-weight: bold

    &__description
        margin-top: 20px

    img
        max-width: none
