@media desktop
    .logo
        flex: 1 1 auto
        text-align: center

        a
            display: inline-block

        img, svg
            height: 120px
            max-width: none
            transition: all 0.2s ease

        .scrolling &
            img, svg
                max-height: 80px