.no-date
    background: #f8f4f0
    margin: 50px 0

    &__container
        width: 100%
        max-width: viewport
        margin: 0 auto

    &__header
        position: relative
        top: -35px

    &__title
        font-size: 15px
        font-weight: light
        line-height: 1.2
        letter-spacing: 5px
        text-transform: uppercase
        color: color_one

        strong
            display: block
            font-size: 28px
            font-weight: bold

    &__main
        padding-bottom: 50px

@media desktop
    .no-date
        &__header
            top: -55px

        &__title
            font-size: 25px

            strong
                font-size: 48px