.rulers-discount
    display: none
    font-size: 12px
    font-weight: regular
    line-height: 1
    text-transform: uppercase
    text-align: center
    background: color1_bg
    color: color_one

    &__container
        width: 100%
        max-width: viewport
        margin: 0 auto
        padding: 20px 0

@media desktop
    .rulers-discount
        display: block
