.testimony
    margin: 50px 0
    font-size: 17px
    font-weight: light
    color: color_one
    text-align: center

    &__container
        max-width: 755px
        margin: 0 auto

    &__title
        font-size: 18px
        text-transform: uppercase
        letter-spacing: 5px
        color: color_one
        text-align: center
        margin-bottom: 30px

    &__list
        margin-top: 30px

    &__author
        display: block
        font-size: 21px
        margin-top: 30px

    button
        font-size: 14px
        font-weight: bold
        text-transform: uppercase
        border: solid 2px color2_bg
        box-shadow: none
        color: color2_bg
        width: 360px
        max-width: 80%
        background: #fff
        border-radius: 0

    .owl-pagination
        margin-bottom: 40px

@media desktop
    .testimony
        &__title
            font-size: 43px
